body {
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.grid {
    width: 482px;
    height: 482px;
    background-color: rgb(214, 232, 248);
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(auto-fill,30px);
    
}