body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 71, 65);
}

#select1, #select2 {
  width: 120px;
  height:40px;
  background-color: blue;
  color: white;
}

#clear {
  width: 120px;
  height:40px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
  background-color: red;
}

.menu {
  padding: 5px;
  border: 5px solid rgb(242, 141, 124);
  border-radius: 5px;
  width: 200px;
  height: 482px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sizeSelect, .typeSelect {
  width: 100px;
  text-align: center;
  max-height: fit-content;
}

.container {
  display:inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  justify-content: center;
  align-items: center;
}

.grid {
    width: 480px;
    height: 510px;
    background-color: rgb(175, 213, 247);
    border: 2px solid white;
    display: grid;
    
}

/*Header Rainbow effect*/

.header {
  
    /* Font options */
   font-family: 'Pacifico', cursive;
   text-shadow: 2px 2px 4px #000000;
   -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
   font-weight: bolder;
   font-size:90px;
   color: white;  
}

.footer {
  width: 100%;
  background-color: azure;
  bottom: 0;
  position: fixed;
  text-align: center;
  font-size: 20px;
}